@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

body {
  font-family: 'Inter', sans-serif;
  padding: 0.75rem;
  /* background-image: linear-gradient(90deg, #5a5e58, #5a5e58, 100%); */
  background-color: #353535;
  color: #86b663;
}

img {
  width: 30%;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}
